td,th{
    border: 1px solid #999;
    padding: 20px;
}
td{
   background-color: gray;    
    color: white;
}
.primary{
    background-color: red;
    position: sticky;
    top: 0;
    left: 0;
}
th{
    background-color: yellow;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
}
td:hover{
    background-color: aqua !important;
}